<nav class='navbar navbar-expand-md navbar-primary'>
    <a class='navbar-brand'>ejs test</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            homepage
        </li>
    </ul>
</nav>